In [4]:
import csv
import matplotlib as mpl
import plotly
import pandas as pd
import sqlite3

In [5]:
dfapi = pd.read_csv("API_SE.PRM.ENRL_DS2_en_csv_v2_4538564.csv", header=2, low_memory=True)
dfapi

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,9803.0,9816.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,5986268.0,6217756.0,6199329.0,6265011.0,6350404.0,6544906.0,6777785.0,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5620915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,3874741.0,NaN,NaN,3900134.0,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,7063849.0,7195183.0,7555842.0,7569924.0,7582154.0,7568387.0,7688381.0,NaN,NaN,NaN
264,Zambia,ZMB,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,3075161.0,3217872.0,3215723.0,3203220.0,3284841.0,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,"Primary education, pupils",SE.PRM.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,2663187.0,NaN,2658415.0,2662010.0,2676485.0,2725970.0,2789692.0,2869735.0,NaN,NaN

In [6]:
dfwd =  pd.read_csv("WDIData.csv", header=0, low_memory=True)
dfwd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383567,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383568,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN,NaN
383569,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN,NaN
383570,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.100000,59.400000,59.500000,59.700000,59.900000,60.100000,60.300000,60.500000,60.7,NaN
383571,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.000000,19000.000000,17000.000000,15000.000000,13000.000000,10000.000000,8600.000000,7700.000000,6800.0,NaN